In [1]:
import pandas as pd

vgdata = pd.read_csv('../DATA/regreadyvgsales4.csv')
vgdata.head()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [2]:
vgdata = vgdata.drop(['Global_Sales', 'EU_Sales','JP_Sales','Other_Sales'] , axis = 1)
vgdata.head()

,NA_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,10.0,7.6,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,8.0,8.2,8.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,7.0,8.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,10.0,8.9,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22.3360,10.0,5.8,6.6,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [3]:
# Select on Specific Genre
# gen_dict = {'Action': 0, 'Sports': 1, 'Shooter':2, 'Role-Playing': 3, 'Racing': 4, 'Misc': 5, 'Platform': 6, 'Fighting': 7, 'Simulation': 8, 'Adventure': 9, 'Strategy': 10, 'Puzzle': 11}

vgdata = vgdata.loc[vgdata['Genre_Sports'] == 1]

In [4]:
vgdata.head()

,NA_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,10.0,7.6,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,7.0,8.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,12.8448,9.0,8.0,7.7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,10.0912,7.0,8.0,7.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
51,0.1792,1.0,8.2,4.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [5]:
vgdata = vgdata.drop(['Genre_Adventure', 'Genre_Fighting', 'Genre_Misc','Genre_Platform','Genre_Puzzle','Genre_Sports','Genre_Shooter','Genre_Role-Playing','Genre_Racing','Genre_Simulation','Genre_Adventure','Genre_Strategy', ], axis = 1)

In [6]:
vgdata.head()

,NA_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Rating_E,Rating_M,Rating_Other,Rating_T,Publisher_3DO,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,10.0,7.6,8.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,7.0,8.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,12.8448,9.0,8.0,7.7,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,10.0912,7.0,8.0,7.4,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
51,0.1792,1.0,8.2,4.3,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
vgdata = vgdata.drop(['Genre_Action'], axis = 1)

In [8]:
vgdata.head()

,NA_Sales,Years_on_Market,Critic_Score,User_Score,Rating_E,Rating_M,Rating_Other,Rating_T,Publisher_3DO,Publisher_505 Games,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,10.0,7.6,8.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,7.0,8.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,12.8448,9.0,8.0,7.7,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,10.0912,7.0,8.0,7.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
51,0.1792,1.0,8.2,4.3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
vgdata.to_csv('../DATA/vgsales_NA_Sports.csv', index = False, encoding = 'UTF8')