In [86]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

vgdata = pd.read_csv('clean_videogamesales.csv')
vgdata.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,33.088,23.168,3.016,6.760,66.024,7.6,8.0,E
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,12.544,10.208,3.032,2.632,28.416,8.2,8.3,E
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,12.488,8.744,2.624,2.360,26.216,8.0,8.0,E
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,9.024,7.312,5.200,2.304,23.840,8.9,8.5,E
4,Wii Play,Wii,2006.0,Misc,Nintendo,11.168,7.344,2.344,2.272,23.136,5.8,6.6,E

In [87]:
vgdata2 = vgdata.copy()

In [88]:
vgdata2['Years_on_Market'] = 2016 - vgdata2['Year_of_Release']
vgdata2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii Sports,Wii,2006.0,Sports,Nintendo,33.088,23.168,3.016,6.760,66.024,7.6,8.0,E,10.0
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,12.544,10.208,3.032,2.632,28.416,8.2,8.3,E,8.0
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,12.488,8.744,2.624,2.360,26.216,8.0,8.0,E,7.0
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,9.024,7.312,5.200,2.304,23.840,8.9,8.5,E,10.0
4,Wii Play,Wii,2006.0,Misc,Nintendo,11.168,7.344,2.344,2.272,23.136,5.8,6.6,E,10.0

In [89]:
vgdata2 = vgdata2.drop(['Year_of_Release'], axis = 1)

In [90]:
vgdata2.head()

,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii Sports,Wii,Sports,Nintendo,33.088,23.168,3.016,6.760,66.024,7.6,8.0,E,10.0
1,Mario Kart Wii,Wii,Racing,Nintendo,12.544,10.208,3.032,2.632,28.416,8.2,8.3,E,8.0
2,Wii Sports Resort,Wii,Sports,Nintendo,12.488,8.744,2.624,2.360,26.216,8.0,8.0,E,7.0
3,New Super Mario Bros.,DS,Platform,Nintendo,9.024,7.312,5.200,2.304,23.840,8.9,8.5,E,10.0
4,Wii Play,Wii,Misc,Nintendo,11.168,7.344,2.344,2.272,23.136,5.8,6.6,E,10.0

In [91]:
vgdata2 = vgdata2.drop(['Name'], axis = 1)

In [92]:
vgdata2.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,Sports,Nintendo,33.088,23.168,3.016,6.760,66.024,7.6,8.0,E,10.0
1,Wii,Racing,Nintendo,12.544,10.208,3.032,2.632,28.416,8.2,8.3,E,8.0
2,Wii,Sports,Nintendo,12.488,8.744,2.624,2.360,26.216,8.0,8.0,E,7.0
3,DS,Platform,Nintendo,9.024,7.312,5.200,2.304,23.840,8.9,8.5,E,10.0
4,Wii,Misc,Nintendo,11.168,7.344,2.344,2.272,23.136,5.8,6.6,E,10.0

In [93]:
vgdata2['Global_Sales'] = vgdata2['Global_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['NA_Sales'] = vgdata2['NA_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['EU_Sales'] = vgdata2['EU_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['JP_Sales'] = vgdata2['JP_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['Other_Sales'] = vgdata2['Other_Sales'] * (0.2*vgdata2['Years_on_Market'])

In [94]:
vgdata2.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,Sports,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,7.6,8.0,E,10.0
1,Wii,Racing,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.2,8.3,E,8.0
2,Wii,Sports,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,8.0,8.0,E,7.0
3,DS,Platform,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,8.9,8.5,E,10.0
4,Wii,Misc,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,5.8,6.6,E,10.0

In [95]:
rat_counts = vgdata2['Rating'].value_counts()
rat_counts

T       2377
E       2082
M       1433
E10+     930
AO         1
K-A        1
RP         1
Name: Rating, dtype: int64

In [96]:
# Determine which values to replace if counts are less than ...?
replace_rating = list(rat_counts[rat_counts < 1000].index)

# Replace in dataframe
for rat in replace_rating:
    vgdata2.Rating = vgdata2.Rating.replace(rat,"Other")
    
# Check to make sure binning was successful
vgdata2.Rating.value_counts()

T        2377
E        2082
M        1433
Other     933
Name: Rating, dtype: int64

In [97]:
vgdata2.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,Sports,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,7.6,8.0,E,10.0
1,Wii,Racing,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.2,8.3,E,8.0
2,Wii,Sports,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,8.0,8.0,E,7.0
3,DS,Platform,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,8.9,8.5,E,10.0
4,Wii,Misc,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,5.8,6.6,E,10.0

In [98]:
vgdata2 = vgdata2[['Platform','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales','Years_on_Market','Critic_Score', 'User_Score','Genre', 'Rating']]

In [99]:
vgdata2.head()

,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre,Rating
0,Wii,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,Sports,E
1,Wii,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,Racing,E
2,Wii,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,Sports,E
3,DS,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,Platform,E
4,Wii,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,Misc,E

In [100]:
vgdata2 = vgdata2.drop(['Platform','Publisher'], axis = 1)

In [101]:
# Generate our categorical variable lists
vgsales_cat = vgdata2.dtypes[vgdata2.dtypes == "object"].index.tolist()
print(vgsales_cat)

['Genre', 'Rating']

In [102]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(vgdata2[vgsales_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(vgsales_cat)
encode_df.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [103]:
# Merge one-hot encoded features and drop the originals
vgdata2 = vgdata2.merge(encode_df,left_index=True, right_index=True)
vgdata2 = vgdata2.drop(vgsales_cat,1)
vgdata2.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [104]:
vgdata2.to_csv('regreadyvgsales3.csv', index = False, encoding = "UTF8")

In [105]:
vgdata2['Publisher'] = vgdata['Publisher']
vgdata2['Platform'] = vgdata['Platform']

In [106]:
vgdata2.head()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T,Publisher,Platform
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,Nintendo,Wii
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Nintendo,Wii
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,Nintendo,Wii
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Nintendo,DS
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Nintendo,Wii

In [107]:
plat_counts = vgdata2['Platform'].value_counts()
plat_counts

PS2     1140
X360     858
PS3      769
PC       651
XB       565
Wii      479
DS       464
PSP      390
GC       348
PS4      239
GBA      237
XOne     159
3DS      155
PS       150
PSV      118
WiiU      89
DC        14
Name: Platform, dtype: int64

In [108]:
# Determine which values to replace if counts are less than ...?
replace_platform = list(plat_counts[plat_counts < 150].index)

# Replace in dataframe
for plat in replace_platform:
    vgdata2.Platform = vgdata2.Platform.replace(plat,"Other")
    
# Check to make sure binning was successful
vgdata2.Platform.value_counts()

PS2      1140
X360      858
PS3       769
PC        651
XB        565
Wii       479
DS        464
PSP       390
GC        348
PS4       239
GBA       237
Other     221
XOne      159
3DS       155
PS        150
Name: Platform, dtype: int64

In [109]:
pub_counts = vgdata2['Publisher'].value_counts()
pub_counts

Electronic Arts                944
Ubisoft                        496
Activision                     492
Sony Computer Entertainment    316
THQ                            307
                              ...
DSI Games                        1
Sunsoft                          1
O3 Entertainment                 1
Tetris Online                    1
NewKidCo                         1
Name: Publisher, Length: 262, dtype: int64

In [110]:
# Determine which values to replace if counts are less than ...?
replace_publisher = list(pub_counts[pub_counts < 10].index)

# Replace in dataframe
for pub in replace_publisher:
    vgdata2.Publisher = vgdata2.Publisher.replace(pub,"Other")
    
# Check to make sure binning was successful
vgdata2.Publisher.value_counts()

Electronic Arts                           944
Other                                     533
Ubisoft                                   496
Activision                                492
Sony Computer Entertainment               316
THQ                                       307
Nintendo                                  291
Sega                                      284
Take-Two Interactive                      273
Konami Digital Entertainment              244
Namco Bandai Games                        239
Capcom                                    197
Atari                                     176
Microsoft Game Studios                    141
Tecmo Koei                                137
Square Enix                               134
Warner Bros. Interactive Entertainment    130
Eidos Interactive                         123
Vivendi Games                             113
Codemasters                               111
Midway Games                              103
505 Games                                  80
Deep Silver                                76
Disney Interactive Studios                 74
LucasArts                                  70
Acclaim Entertainment                      66
Nippon Ichi Software                       60
Rising Star Games                          52
Bethesda Softworks                         46
D3Publisher                                35
Focus Home Interactive                     31
Ignition Entertainment                     30
Empire Interactive                         27
Atlus                                      25
Zoo Digital Publishing                     24
Unknown                                    24
Majesco Entertainment                      23
Kalypso Media                              22
PQube                                      22
TDK Mediactive                             21
SouthPeak Games                            21
Global Star                                20
Virgin Interactive                         19
Universal Interactive                      18
MTV Games                                  16
3DO                                        15
Infogrames                                 14
Paradox Interactive                        13
Ubisoft Annecy                             12
DTP Entertainment                          12
SCi                                        11
Crave Entertainment                        11
Sony Computer Entertainment Europe         11
BAM! Entertainment                         10
JoWood Productions                         10
Playlogic Game Factory                     10
Nordic Games                               10
Name: Publisher, dtype: int64

In [111]:
# Generate our categorical variable lists
vgsales2_cat = vgdata2.dtypes[vgdata2.dtypes == "object"].index.tolist()
print(vgsales2_cat)

['Publisher', 'Platform']

In [112]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df2 = pd.DataFrame(enc.fit_transform(vgdata2[vgsales2_cat]))

# Add the encoded variable names to the dataframe
encode_df2.columns = enc.get_feature_names(vgsales2_cat)
encode_df2.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Publisher_3DO,Publisher_505 Games,Publisher_Acclaim Entertainment,Publisher_Activision,Publisher_Atari,Publisher_Atlus,Publisher_BAM! Entertainment,Publisher_Bethesda Softworks,Publisher_Capcom,Publisher_Codemasters,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [113]:
vgdata2 = vgdata2.merge(encode_df2,left_index=True, right_index=True)
vgdata2 = vgdata2.drop(vgsales2_cat,1)
vgdata2.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [85]:
vgdata2.to_csv('regreadyvgsales4.csv', index = False, encoding = "UTF8")