In [36]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

vgdata = pd.read_csv('../DATA/clean_videogamesales.csv')
vgdata.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,33.088,23.168,3.016,6.760,66.024,7.6,8.0,E
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,12.544,10.208,3.032,2.632,28.416,8.2,8.3,E
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,12.488,8.744,2.624,2.360,26.216,8.0,8.0,E
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,9.024,7.312,5.200,2.304,23.840,8.9,8.5,E
4,Wii Play,Wii,2006.0,Misc,Nintendo,11.168,7.344,2.344,2.272,23.136,5.8,6.6,E

In [37]:
vgdata2 = vgdata.copy()

In [38]:
vgdata2 = vgdata2.drop(['Name'], axis = 1)

In [39]:
vgdata2['Years_on_Market'] = 2016 - vgdata2['Year_of_Release']

In [40]:
vgdata2['Global_Sales'] = vgdata2['Global_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['NA_Sales'] = vgdata2['NA_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['EU_Sales'] = vgdata2['EU_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['JP_Sales'] = vgdata2['JP_Sales'] * (0.2*vgdata2['Years_on_Market'])
vgdata2['Other_Sales'] = vgdata2['Other_Sales'] * (0.2*vgdata2['Years_on_Market'])

In [41]:
vgdata2.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,2006.0,Sports,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,7.6,8.0,E,10.0
1,Wii,2008.0,Racing,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.2,8.3,E,8.0
2,Wii,2009.0,Sports,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,8.0,8.0,E,7.0
3,DS,2006.0,Platform,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,8.9,8.5,E,10.0
4,Wii,2006.0,Misc,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,5.8,6.6,E,10.0

In [42]:
vgdata2 = vgdata2.drop(['Year_of_Release'], axis = 1)
vgdata2.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,Sports,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,7.6,8.0,E,10.0
1,Wii,Racing,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.2,8.3,E,8.0
2,Wii,Sports,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,8.0,8.0,E,7.0
3,DS,Platform,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,8.9,8.5,E,10.0
4,Wii,Misc,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,5.8,6.6,E,10.0

In [43]:
vgdata2.columns

Index(['Platform', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales',
       'Other_Sales', 'Global_Sales', 'Critic_Score', 'User_Score', 'Rating',
       'Years_on_Market'],
      dtype='object')

In [44]:
rat_counts = vgdata2['Rating'].value_counts()
rat_counts

T       2377
E       2082
M       1433
E10+     930
AO         1
K-A        1
RP         1
Name: Rating, dtype: int64

In [45]:
# Determine which values to replace if counts are less than ...?
replace_rating = list(rat_counts[rat_counts < 1000].index)

# Replace in dataframe
for rat in replace_rating:
    vgdata2.Rating = vgdata2.Rating.replace(rat,"Other")
    
# Check to make sure binning was successful
vgdata2.Rating.value_counts()

T        2377
E        2082
M        1433
Other     933
Name: Rating, dtype: int64

In [46]:
vgdata2.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating,Years_on_Market
0,Wii,Sports,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,7.6,8.0,E,10.0
1,Wii,Racing,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.2,8.3,E,8.0
2,Wii,Sports,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,8.0,8.0,E,7.0
3,DS,Platform,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,8.9,8.5,E,10.0
4,Wii,Misc,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,5.8,6.6,E,10.0

In [47]:
vgdata2 = vgdata2[['Platform','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales','Years_on_Market','Critic_Score', 'User_Score','Genre', 'Rating']]

In [48]:
vgdata2.head()

,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre,Rating
0,Wii,Nintendo,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,Sports,E
1,Wii,Nintendo,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,Racing,E
2,Wii,Nintendo,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,Sports,E
3,DS,Nintendo,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,Platform,E
4,Wii,Nintendo,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,Misc,E

In [49]:
plat_counts = vgdata2['Platform'].value_counts()
plat_counts

PS2     1140
X360     858
PS3      769
PC       651
XB       565
Wii      479
DS       464
PSP      390
GC       348
PS4      239
GBA      237
XOne     159
3DS      155
PS       150
PSV      118
WiiU      89
DC        14
Name: Platform, dtype: int64

In [50]:
# Determine which values to replace if counts are less than ...?
replace_platform = list(plat_counts[plat_counts < 150].index)

# Replace in dataframe
for plat in replace_platform:
    vgdata2.Platform = vgdata2.Platform.replace(plat,"Other")
    
# Check to make sure binning was successful
vgdata2.Platform.value_counts()

PS2      1140
X360      858
PS3       769
PC        651
XB        565
Wii       479
DS        464
PSP       390
GC        348
PS4       239
GBA       237
Other     221
XOne      159
3DS       155
PS        150
Name: Platform, dtype: int64

In [51]:
pub_counts = vgdata2['Publisher'].value_counts()
pub_counts

Electronic Arts                944
Ubisoft                        496
Activision                     492
Sony Computer Entertainment    316
THQ                            307
                              ...
DSI Games                        1
Sunsoft                          1
O3 Entertainment                 1
Tetris Online                    1
NewKidCo                         1
Name: Publisher, Length: 262, dtype: int64

In [52]:
# Determine which values to replace if counts are less than ...?
replace_publisher = list(pub_counts[pub_counts < 200].index)

# Replace in dataframe
for pub in replace_publisher:
    vgdata2.Publisher = vgdata2.Publisher.replace(pub,"Other")
    
# Check to make sure binning was successful
vgdata2.Publisher.value_counts()

Other                           2939
Electronic Arts                  944
Ubisoft                          496
Activision                       492
Sony Computer Entertainment      316
THQ                              307
Nintendo                         291
Sega                             284
Take-Two Interactive             273
Konami Digital Entertainment     244
Namco Bandai Games               239
Name: Publisher, dtype: int64

In [53]:
vgdata2 = vgdata2.loc[vgdata2['Publisher'] != 'Other']
print(vgdata2.shape)

(3886, 12)

In [54]:
vgdata2.Publisher.value_counts()

Electronic Arts                 944
Ubisoft                         496
Activision                      492
Sony Computer Entertainment     316
THQ                             307
Nintendo                        291
Sega                            284
Take-Two Interactive            273
Konami Digital Entertainment    244
Namco Bandai Games              239
Name: Publisher, dtype: int64

In [55]:
vgdata2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3886 entries, 0 to 6822
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         3886 non-null   object
 1   Publisher        3886 non-null   object
 2   NA_Sales         3886 non-null   float64
 3   EU_Sales         3886 non-null   float64
 4   JP_Sales         3886 non-null   float64
 5   Other_Sales      3886 non-null   float64
 6   Global_Sales     3886 non-null   float64
 7   Years_on_Market  3886 non-null   float64
 8   Critic_Score     3886 non-null   float64
 9   User_Score       3886 non-null   float64
 10  Genre            3886 non-null   object
 11  Rating           3886 non-null   object
dtypes: float64(8), object(4)
memory usage: 394.7+ KB

In [56]:
# Generate our categorical variable lists
vgsales2_cat = vgdata2.dtypes[vgdata2.dtypes == "object"].index.tolist()
print(vgsales2_cat)

['Platform', 'Publisher', 'Genre', 'Rating']

In [57]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df2 = pd.DataFrame(enc.fit_transform(vgdata2[vgsales2_cat]))

# Add the encoded variable names to the dataframe
encode_df2.columns = enc.get_feature_names(vgsales2_cat)
encode_df2.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Platform_3DS,Platform_DS,Platform_GBA,Platform_GC,Platform_Other,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,...,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [58]:
encode_df2.describe()

,Platform_3DS,Platform_DS,Platform_GBA,Platform_GC,Platform_Other,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,...,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
count,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,...,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000,3886.000000
mean,0.023160,0.063047,0.036284,0.060731,0.033196,0.079516,0.022131,0.158260,0.125836,0.031395,...,0.082862,0.067422,0.126866,0.046577,0.200206,0.030623,0.363870,0.185795,0.134843,0.315492
std,0.150431,0.243078,0.187020,0.238867,0.179171,0.270578,0.147128,0.365032,0.331708,0.174405,...,0.275708,0.250783,0.332865,0.210759,0.400206,0.172316,0.481174,0.388991,0.341600,0.464771
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
vgdataCL = vgdata2.merge(encode_df2,left_index=True, right_index=True)
vgdataCL = vgdataCL.drop(vgsales2_cat,1)
vgdataCL.head()

C:\Users\rsean\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Platform_3DS,Platform_DS,...,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [60]:
vgdataCL.describe()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Platform_3DS,Platform_DS,...,Genre_Racing,Genre_Role-Playing,Genre_Shooter,Genre_Simulation,Genre_Sports,Genre_Strategy,Rating_E,Rating_M,Rating_Other,Rating_T
count,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,...,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000,2621.000000
mean,0.987310,0.578656,0.164190,0.205541,1.935462,8.446395,7.489393,7.346395,0.023274,0.062953,...,0.085082,0.064479,0.131248,0.044258,0.204884,0.033193,0.365891,0.193819,0.127051,0.313239
std,2.117545,1.521371,0.680176,0.666363,4.421975,4.105187,1.219270,1.298528,0.150800,0.242925,...,0.279057,0.245652,0.337735,0.205707,0.403694,0.179176,0.481771,0.395364,0.333093,0.463899
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.600000,1.700000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.220800,0.072000,0.000000,0.033600,0.475200,5.000000,6.800000,6.700000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.473600,0.216000,0.000000,0.076800,0.873600,8.000000,7.700000,7.600000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.515200,0.035200,0.179200,1.851200,12.000000,8.400000,8.300000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,66.176000,46.336000,10.400000,20.294400,132.048000,22.000000,9.800000,9.600000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [61]:
vgdataCL.to_csv('../DATA/regreadyvgsales_TOP10PUB.csv', index = False, encoding = "UTF8")