In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from xgboost.sklearn import XGBRegressor

In [ ]:
df = pd.read_csv('regreadyvgsales4.csv')

In [ ]:
df.head()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
# Split the data
y = df.NA_Sales
X = df.drop(['Global_Sales','NA_Sales','EU_Sales','JP_Sales','Other_Sales'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

# Create the model
model = XGBRegressor()

# Fit the model
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f'Training Score: {training_score}')
print(f'Testing Score: {testing_score}')

# Use our model to predict a value
predicted = model.predict(X)

# Score the prediction with MSE and R2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

[00:29:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Training Score: 0.4091245929531099
Testing Score: 0.313469719108726
mean squared error (MSE): 1.3066241440123634
R-squared (R2 ): 0.39574157160141665