In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from xgboost.sklearn import XGBRegressor

In [2]:
df = pd.read_csv('vgsales_NA_Sports.csv')

In [3]:
df.head()

,NA_Sales,Years_on_Market,Critic_Score,User_Score,Rating_E,Rating_M,Rating_Other,Rating_T,Publisher_3DO,Publisher_505 Games,...,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,Platform_PS4,Platform_PSP,Platform_Wii,Platform_X360,Platform_XB,Platform_XOne
0,66.1760,10.0,7.6,8.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,17.4832,7.0,8.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,12.8448,9.0,8.0,7.7,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,10.0912,7.0,8.0,7.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.1792,1.0,8.2,4.3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Split the data
y = df.NA_Sales
X = df.drop(['NA_Sales'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

# Create the model
model = XGBRegressor()

# Fit the model
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f'Training Score: {training_score}')
print(f'Testing Score: {testing_score}')

# Use our model to predict a value
predicted = model.predict(X)

# Score the prediction with MSE and R2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

[00:43:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Training Score: 0.905211206959799
Testing Score: 0.20576426261495706
mean squared error (MSE): 0.9006016504984392
R-squared (R2 ): 0.84878030133745